<h1>Add post</h1>
<%= form_for :post, url: posts_path, html: {multipart: true } do |f| %>
	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field(:title, {:class => 'form-control', :style =>'width: 400px'}) %>
	</p>

	<p>
		<%= f.label :body %><br>
		<%= f.text_area(:body, {:class => 'form-control', :style =>'width: 600px; height: 300px; resize: none;'}) %>
	</p>

	<p>
		<%= f.file_field :image %>
	</p>

	<p>
		<%= f.submit({:class => 'btn btn-primary'}) %>
	</p>
<% end %>