<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li><%= link_to "Home", home_path %></li>
      </ul>
      <% if user_signed_in? && current_user.admin? %>
       <ul class="navbar-nav mr-auto" style="position: relative; right: 600px">
        <li><%= link_to "Create Post",  new_admin_post_path %></li>
      </ul>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path do %> 
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %> 
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in/up</button>
        <% end %>
      <% end %>
    </div>
  </nav>
  <div class="container" style="position: absolute; top: 200px; margin-left: 20%">
    <div class="col-md-12">
      <% flash.each do |name, message| %>
      <div class="alert <%= bootstrap_class_for(name) %>">
        <button class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
